/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/modules/_layouts.scss */
.wrapper {
  max-width: 1200px;
}

/* line 5, ../sass/modules/_layouts.scss */
.row, .column {
  box-sizing: border-box;
}

/* line 9, ../sass/modules/_layouts.scss */
.row:before, .row:after {
  content: "";
  display: table;
}

/* line 14, ../sass/modules/_layouts.scss */
.row:after {
  clear: both;
}

/* line 18, ../sass/modules/_layouts.scss */
.column {
  position: relative;
  float: left;
  color: #000;
}

/* line 24, ../sass/modules/_layouts.scss */
.column + .column {
  padding-bottom: 10px;
}

/* line 28, ../sass/modules/_layouts.scss */
.sidebar {
  background: #417E80;
  min-height: 100%;
  text-align: left;
  width: 25%;
  margin-right: 1%;
  padding: 1%;
}

/* line 37, ../sass/modules/_layouts.scss */
.main {
  text-align: left;
  width: 74%;
}

/* line 42, ../sass/modules/_layouts.scss */
.col-33 {
  width: 33%;
}

/* line 46, ../sass/modules/_layouts.scss */
.col-100 {
  width: 100%;
}

/* line 50, ../sass/modules/_layouts.scss */
.col-50 {
  width: 50%;
}

/* line 54, ../sass/modules/_layouts.scss */
footer {
  position: relative;
  float: left;
  width: 100%;
  color: #FFF;
  background-color: gray;
}

@media (max-width: 768px) {
  /* line 63, ../sass/modules/_layouts.scss */
  .col-50-mid {
    width: 50%;
  }

  /* line 67, ../sass/modules/_layouts.scss */
  .main, .sidebar {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 73, ../sass/modules/_layouts.scss */
  .col-100-small, .main, .sidebar {
    width: 100%;
  }
}
/* line 1, ../sass/modules/_nav.scss */
ul {
  list-style-type: none;
  display: table;
  width: 100%;
  background: #417E80;
  margin: 0 0 20px;
  padding: 0;
}

/* line 10, ../sass/modules/_nav.scss */
li {
  display: inline-block;
  float: left;
  margin-right: 1px;
  border-left: 1px solid;
  border-left-color: #FFF;
}

/* line 18, ../sass/modules/_nav.scss */
li a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #417E80;
  text-decoration: none;
}

/* line 29, ../sass/modules/_nav.scss */
li:hover a {
  background: #236467;
}

/* line 33, ../sass/modules/_nav.scss */
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/* line 40, ../sass/modules/_nav.scss */
li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}

/* line 45, ../sass/modules/_nav.scss */
li ul li {
  display: block;
  float: none;
}

/* line 50, ../sass/modules/_nav.scss */
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/* line 56, ../sass/modules/_nav.scss */
.show-menu {
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  display: none;
  padding: 10px 0;
}

/* line 65, ../sass/modules/_nav.scss */
li ul, input[type=checkbox] {
  display: none;
}

/* line 69, ../sass/modules/_nav.scss */
ul li a:hover + .hidden, .hidden:hover, input[type=checkbox]:checked ~ #menu {
  display: block;
}

@media (max-width: 768px) {
  /* line 74, ../sass/modules/_nav.scss */
  ul {
    position: static;
    display: none;
  }

  /* line 79, ../sass/modules/_nav.scss */
  li {
    margin-bottom: 1px;
  }

  /* line 83, ../sass/modules/_nav.scss */
  ul li, li a {
    width: 100%;
  }

  /* line 87, ../sass/modules/_nav.scss */
  .show-menu {
    display: block;
  }
}
/* line 4, ../sass/modules/_fontsIconsButtons.scss */
body {
  font-family: Montserrat, sans-serif;
}

/* line 8, ../sass/modules/_fontsIconsButtons.scss */
h1 {
  font-size: 3em;
  padding-bottom: 1em;
  text-align: center;
}

/* line 14, ../sass/modules/_fontsIconsButtons.scss */
h2 {
  font-size: 1.5em;
  padding-bottom: .5em;
  text-align: center;
}

@media (max-width: 768px) {
  /* line 21, ../sass/modules/_fontsIconsButtons.scss */
  h1 {
    font-size: 2em;
    padding-bottom: .75em;
  }

  /* line 26, ../sass/modules/_fontsIconsButtons.scss */
  h2 {
    font-size: 1.2em;
    padding-bottom: .4em;
  }
}
@media (max-width: 480px) {
  /* line 33, ../sass/modules/_fontsIconsButtons.scss */
  h1 {
    font-size: 1.3em;
    padding-bottom: .6em;
  }

  /* line 38, ../sass/modules/_fontsIconsButtons.scss */
  h2 {
    font-size: 1.1em;
    padding-bottom: .3em;
  }
}
/* line 1, ../sass/modules/_product.scss */
.product, .product-img {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 260px;
  position: relative;
  transition: .7s;
  -webkit-transition: .7s;
  z-index: 2;
}

/* line 12, ../sass/modules/_product.scss */
.product-big, .product-img-big {
  height: 360px;
}

/* line 16, ../sass/modules/_product.scss */
.product-actions {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 260px;
  position: relative;
  overflow: hidden;
  margin-top: -263px;
  transition: .7s;
  -webkit-transition: .7s;
  z-index: 2;
}

/* line 29, ../sass/modules/_product.scss */
.product {
  -webkit-box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}

/* line 35, ../sass/modules/_product.scss */
.info-block, .product-title, .product-description, .product-sale, .button-buy, .more, .nav, .add {
  position: absolute;
  z-index: 3;
}

/* line 40, ../sass/modules/_product.scss */
.info-block {
  height: 130px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  margin-bottom: -70px;
  transition: .7s;
}

/* line 51, ../sass/modules/_product.scss */
.product-title {
  color: #222;
  font-size: 1em;
  font-weight: 400;
  top: 12px;
  left: 15px;
}

/* line 59, ../sass/modules/_product.scss */
.product-description {
  width: 228px;
  top: 32px;
  left: 16px;
  font-family: 'helvetica neue';
  font-size: .8em;
  font-weight: 400;
  color: #7d7d7d;
  border-bottom: 1px solid #dadada;
  padding-bottom: 15px;
}

/* line 71, ../sass/modules/_product.scss */
.product-sale {
  color: #e74c3c;
  font-size: 1em;
  font-weight: 700;
  font-family: 'helvetica neue';
  right: 15px;
  top: 12px;
}

/* line 80, ../sass/modules/_product.scss */
.button-buy {
  background: #e74c3c;
  text-align: center;
  line-height: 46px;
  font-weight: 700;
  color: #fff;
  border: 0 solid #c0392b;
  border-bottom-width: 2px;
  width: 170px;
  height: 44px;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  transition: .4s;
}

/* line 96, ../sass/modules/_product.scss */
.button-buy:hover {
  background: #c0392b;
}

/* line 100, ../sass/modules/_product.scss */
.add {
  background: #2ecc71;
  text-align: center;
  line-height: 46px;
  font-weight: 700;
  color: #fff;
  border: 0 solid #27ae60;
  border-bottom-width: 2px;
  width: 50px;
  height: 44px;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  transition: .4s;
}

/* line 116, ../sass/modules/_product.scss */
.add:hover {
  background: #27ae60;
}

/* line 120, ../sass/modules/_product.scss */
.nav {
  background: #4f4f4f;
  height: 250px;
  margin-left: 0;
  top: 5px;
  width: 250px;
  z-index: -4;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  transition: .4s ease-out .1s;
}

/* line 133, ../sass/modules/_product.scss */
.nav ul li {
  width: 50px;
  background: #333;
  border-bottom: 1px solid #444;
  cursor: pointer;
  list-style: none;
  padding: 13px 10px;
}

/* line 142, ../sass/modules/_product.scss */
.nav ul {
  margin-left: -35px;
}

/* line 146, ../sass/modules/_product.scss */
.nav ul li:hover {
  background: #222;
}

/* line 150, ../sass/modules/_product.scss */
.nav:hover {
  margin-left: -80px;
}

/* line 154, ../sass/modules/_product.scss */
.product:hover .info-block, .nav:hover .info-block {
  margin-bottom: 0;
}

/* line 158, ../sass/modules/_product.scss */
.product:hover input[name="play"] + label span, .product:hover .more {
  opacity: 1;
}
