.wrapper{
    width: $max-width;   
}
.row, 
.columns{
    box-sizing: border-box;
}
.row:before,
.row:after{
    content: "";
    display: table;
}
.row:after{
    clear:both;   
}
.column{
    position: relative;
    float: left;
    color:red;
}
.column + .column {
    padding: 0 0px;   
}
.col-33{
 width: 33%   
}

