ul {
list-style-type:none;
display:table;
width:100%;
background:$color-primary-2;
margin:0 0 20px;
padding:0;
}

li {
display:inline-block;
float:left;
margin-right:1px;
border-left:1px solid;
border-left-color:#FFF;
}

li a {
display:block;
min-width:140px;
height:50px;
text-align:center;
line-height:50px;
color:#fff;
background:$color-primary-2;
text-decoration:none;
}

li:hover a {
background:$color-primary-0;
}

li:hover ul a {
background:#f3f3f3;
color:#2f3036;
height:40px;
line-height:40px;
}

li:hover ul a:hover {
background:#19c589;
color:#fff;
}

li ul li {
display:block;
float:none;
}

li ul li a {
width:auto;
min-width:100px;
padding:0 20px;
}

.show-menu {
text-decoration:none;
color:#fff;
background:#19c589;
text-align:center;
display:none;
padding:10px 0;
}

li ul,input[type=checkbox] {
display:none;
}

ul li a:hover + .hidden,.hidden:hover,input[type=checkbox]:checked ~ #menu {
display:block;
}

@media (max-width: 768px){
ul {
position:static;
display:none;
}

li {
margin-bottom:1px;
}

ul li,li a {
width:100%;
}

.show-menu {
display:block;
}
}